.header {
    width: 100%;
}

.header__container {
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, rgba(34, 46, 59, 0.9), rgba(37, 51, 65, 0.9)), url('https://res.cloudinary.com/dqrughrs2/image/upload/v1719816573/flat-lay-vegetables-frame-with-copy-space_23-2149271076_lrqspy.jpg') no-repeat center;
    background-size: cover;
}

.header__card {
    position: absolute;
    padding: 20px;
    color: #fff;
    width: 500px;
    top: 30%;
    left: 30%;
    text-align: center;
}

.header__card>h1 {
    font-family: "Bodoni Moda", serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.breadcrumb {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 0 10px;
    align-items: center;
    font-size: 1rem;
}

.breadcrumb .breadcrumb__link-back {
    text-decoration: none;
    color: #dfdede;
    transition: .5s all ease;
}

.breadcrumb .breadcrumb__symbol {
    font-size: 1.3rem;
}

/* Effect: CSS */
.breadcrumb__link-back:hover {
    color: #fff;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .header__card {
        width: 90%;
        padding: 0;
        top: 37%;
        left: 5%;
    }

    .header__card>h1 {
        font-size: 2rem;
    }

    .breadcrumb {
        font-size: .9rem;
    }

    .breadcrumb .breadcrumb__symbol {
        font-size: 1.2rem;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    .header__card {
        width: 90%;
        padding: 0;
        top: 37%;
        left: 5%;
    }

    .header__card>h1 {
        font-size: 2rem;
    }

    .breadcrumb {
        font-size: .9rem;
    }

    .breadcrumb .breadcrumb__symbol {
        font-size: 1.2rem;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    .header__card {
        width: 90%;
        padding: 0;
        top: 37%;
        left: 5%;
    }

    .header__card>h1 {
        font-size: 2rem;
    }

    .breadcrumb {
        font-size: .9rem;
    }

    .breadcrumb .breadcrumb__symbol {
        font-size: 1.2rem;
    }

}

@media screen and (min-width:992px) and (max-width:1199px) {
    .header__card {
        width: 90%;
        padding: 0;
        top: 37%;
        left: 5%;
    }

    .header__card>h1 {
        font-size: 2.2rem;
    }

    .breadcrumb .breadcrumb__symbol {
        font-size: 1.2rem;
    }
}