/* CSS: Introduce Row */
.introduce__row {
    gap: 30px 0;
}

/* CSS: Introduce Col */
.introduce__col {
    width: 100%;
}

/* CSS: Introduce Header */
.introduce__header {
    font-family: "Playfair Display", serif;
}

.introduce__header>h3 {
    color: rgb(38, 70, 83);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.introduce__header>p {
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: .9rem;
    line-height: 1.7rem;
}

/* CSS: Introduce Address */
.introduce__address {
    font-family: "Playfair Display", serif;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(203, 202, 202, 0.4);
}

.introduce__address>h3 {
    color: rgb(38, 70, 83);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.introduce__address>p {
    font-family: "Roboto", sans-serif;
    margin: 7px 0;
    color: gray;
    font-size: .9rem;
}

/* CSS: Introduce Card */
.introduce-card {
    font-family: "Playfair Display", serif;
}

.introduce-card>h3 {
    color: rgb(38, 70, 83);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.introduce-card>p {
    font-family: "Roboto", sans-serif;
    margin: 7px 0;
    color: gray;
    letter-spacing: 1px;
    font-size: .8rem;
}

.introduce-card>p:nth-child(3) {
    font-style: italic;
}

/* CSS: Introduce Form */
.introduce__form {
    margin-top: 30px;
}

.form-input {
    font-family: "Roboto", sans-serif;
}

.form-input:nth-child(2) {
    margin-top: 10px;
}

.form-input>label {
    display: block;
    color: rgba(38, 70, 83, .9);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-input>label>span {
    color: rgba(224, 73, 4, .8);
    font-weight: 700;
    margin-left: 2px;
}

.form-input .input-name {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid rgba(188, 186, 186, .4);
    border-radius: 3px;
}

.form-input .input-name::placeholder {
    color: gray;
    font-size: .8rem;
}

.form-input .input-desc {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 2px solid rgba(188, 186, 186, .4);
    border-radius: 3px;
    resize: none;
}

.form-input .input-name-error,
.form-input .input-desc-error {
    border: 2px solid rgba(194, 54, 54, 0.6);
}

.form-input .error-message-input {
    font-size: .9rem;
    color: rgb(232, 61, 61);
    margin-top: 8px;
}

.introduce__form .form-btn-send {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    color: #fff;
    background-color: rgb(38, 70, 83);
    border: 2px solid transparent;
    padding: 12px 25px;
    width: 130px;
    transition: .5s all ease;
}

/* CSS: Effect */
.introduce__form .form-btn-send:hover {
    opacity: .8;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .introduce__header>h3 {
        font-size: 1rem;
    }

    .introduce__header>p {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .introduce__address>h3 {
        font-size: 1rem;
    }

    .introduce__address>p {
        font-size: .8rem;
    }

    .introduce-card>h3 {
        font-size: 1.2rem;
    }

    .introduce-card>p {
        font-size: .7rem;
    }

    .form-input>label {
        font-size: .9rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .introduce__header>h3 {
        font-size: 1rem;
    }

    .introduce__header>p {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .introduce__address>h3 {
        font-size: 1rem;
    }

    .introduce__address>p {
        font-size: .8rem;
    }

    .introduce-card>h3 {
        font-size: 1.2rem;
    }

    .introduce-card>p {
        font-size: .7rem;
    }

    .form-input>label {
        font-size: .9rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .introduce__header>h3 {
        font-size: 1rem;
    }

    .introduce__header>p {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .introduce__address>h3 {
        font-size: 1rem;
    }

    .introduce__address>p {
        font-size: .8rem;
    }

    .introduce-card>h3 {
        font-size: 1.2rem;
    }

    .introduce-card>p {
        font-size: .7rem;
    }

    .form-input>label {
        font-size: .9rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .introduce__header>h3 {
        font-size: 1rem;
    }

    .introduce__header>p {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .introduce__address>h3 {
        font-size: 1rem;
    }

    .introduce__address>p {
        font-size: .8rem;
    }

    .introduce-card>h3 {
        font-size: 1.2rem;
    }

    .introduce-card>p {
        font-size: .7rem;
    }

    .form-input>label {
        font-size: .9rem;
    }
}