/* CSS: Footer */
.footer {
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
}

/* CSS: Footer Container */
.footer__container {
    width: 1140px;
    margin: 0 auto;
    padding: 5% 0;
}

/* CSS: Footer Row */
.footer__row {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* CSS: Footer Col */
.footer__col {
    position: relative;
}

/* CSS: About Section  */
.about__section {
    position: relative;
    width: 100%;
    color: lightgray;
    font-family: "Bodoni Moda", serif;
}

.about__section .section__title {
    position: relative;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #fff;
}

.about__section .section__title::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background-color: #fff;
    border-radius: 5px;
    bottom: -6px;
    left: 0;
}

.about__section .section__content {
    font-family: "Roboto", sans-serif;
    margin: 13% 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.about__section .section__contact {
    position: relative;
}

.section__contact::before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 90px;
    width: 2px;
    top: 20px;
    left: 4px;
    border-radius: 10px;
}

.section__contact>div {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 15px 0;
    padding-left: 30px;
    transition: 0.5s all ease;
}

.section__contact>div>.icon {
    grid-row: 1/3;
    font-size: 1.3rem;
}

.section__contact>div>p {
    font-size: 0.8rem;
    margin: 2px 0;
}

.section__contact>div::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* CSS: Footer MailList */
.mailList__section {
    color: #fff;
    text-align: center;
    font-family: "Bodoni Moda", serif;
}

.mailList__section .section__title {
    color: transparent;
    font-size: 3rem;
    -webkit-text-stroke: 0.5px #fff;
    margin-bottom: 5px;
}

.mailList__section .section__title-small {
    letter-spacing: 17px;
    font-weight: 700;
    font-size: 0.9rem;
}

.mailList__section .section__content {
    font-family: "Roboto", sans-serif;
    margin: 8% 0;
    line-height: 1.3rem;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    color: #e2dfdf;
    word-spacing: 2px;
}

.section__form {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.form__input-email {
    font-family: "Roboto", sans-serif;
    width: 73%;
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-size: 0.8rem;
}

.form__btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;
    background-color: rgb(248, 104, 34);
    border: 1px solid transparent;
    padding: 10px 25px;
}

.section__socials-network {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    gap: 0 20px;
}

.section__socials-network .icon {
    border-radius: 100%;
    border: 1px dashed #fff;
    padding: 13px;
    font-size: 0.9rem;
    transition: 0.5s all ease;
}

/* CSS: Companys Section  */
.companies__section {
    position: relative;
    width: 100%;
    color: lightgray;
}

.companies__section .section__title {
    font-family: "Bodoni Moda", serif;
    position: relative;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #fff;
}

.companies__section .section__title::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background-color: #fff;
    border-radius: 5px;
    bottom: -6px;
    left: 0;
}

.companies__section .section__list-info {
    font-family: "Roboto", sans-serif;
    margin-top: 15%;
}

.companies__section .section__item-info {
    font-size: 0.9rem;
    margin: 20px 0;
}

.tooltip-email {
    position: absolute;
    background-color: #F86822;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    transform: translateY(120%);
    border-radius: 5px;
    font-size: .7rem;
}

.tooltip-email::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 30%;
    width: 15px;
    height: 15px;
    background-color: #F86822;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


/* CSS: Active */
.form__input-email::placeholder {
    font-size: 0.7rem;
    color: #6e6e6e;
}

/* CSS: Effect */
.section__contact>div:hover .icon {
    color: #fff;
    font-weight: 700;
}

.form__input-email:focus {
    border-radius: 0;
    outline: 0;
}

.section__socials-network .icon:hover {
    background-color: rgb(248, 104, 34);
    border: 1px solid transparent;
}

/* CSS: Responsive */
@media screen and (max-width:575px) {
    .footer__container {
        width: 90%;
        padding: 10% 0 5%;
    }

    .footer__col {
        margin-top: 10%;
        width: 100%;
    }

    .footer__col:nth-child(1) {
        order: 2;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    .footer__col:nth-child(2) {
        order: 1;
        margin-top: 0;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    .footer__col:nth-child(3) {
        order: 3;
    }

    /* CSS: Col MailList */
    .mailList__section .section__title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .mailList__section .section__title-small {
        font-size: .8rem;
        letter-spacing: 12px;
    }

    .section__form {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .section__form .form__input-email {
        width: 100%;
    }

    .section__socials-network {
        gap: 0 15px;
    }

    /* CSS: About */
    .about__section {
        text-align: center;
    }

    .about__section .section__title::after {
        display: none;
    }

    .about__section .section__content {
        margin: 8% 0;
    }

    .about__section .section__contact {
        display: inline-block;
        text-align: left;
    }

    .about__section .section__contact>div {
        word-break: break-all;
    }

    .section__contact::before {
        top: 35px;
    }

    /* CSS: Companies */
    .companies__section {
        text-align: center;
    }

    .companies__section .section__title::after {
        display: none;
    }

    .companies__section .section__list-info {
        margin-top: 10%;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .footer__container {
        width: 90%;
        padding: 10% 0 5%;
    }

    .footer__col {
        margin-top: 10%;
        width: 100%;
    }

    .footer__col:nth-child(1) {
        order: 2;
        width: 45%;
    }

    .footer__col:nth-child(2) {
        order: 1;
        padding-bottom: 40px;
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    .footer__col:nth-child(3) {
        order: 3;
        width: 45%;
    }

    /* CSS: Col MailList */
    .mailList__section .section__title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .mailList__section .section__title-small {
        font-size: .8rem;
        letter-spacing: 12px;
    }

    .mailList__section .section__content {
        width: 80%;
        margin: 5% auto;
    }

    .section__form {
        width: 80%;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .section__form .form__input-email {
        width: 100%;
    }

    .section__socials-network {
        gap: 0 20px;
    }

    /* CSS: About */
    .about__section .section__title::after {
        display: none;
    }

    .about__section .section__title::after {
        display: none;
    }

    /* CSS: Companies */
    .companies__section {
        text-align: right;
    }

    .companies__section .section__title::after {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .footer__container {
        width: 90%;
        padding: 10% 0 5%;
    }

    .footer__col {
        margin-top: 10%;
        width: 100%;
    }

    .footer__col:nth-child(1) {
        order: 2;
        width: 30%;
    }

    .footer__col:nth-child(2) {
        order: 1;
        padding-bottom: 40px;
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .4);
    }

    .footer__col:nth-child(3) {
        order: 3;
        width: 30%;
    }

    /* CSS: Col MailList */
    .mailList__section .section__title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .mailList__section .section__title-small {
        font-size: .8rem;
        letter-spacing: 12px;
    }

    .mailList__section .section__content {
        width: 80%;
        margin: 5% auto;
    }

    .section__form {
        width: 50%;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .section__form .form__input-email {
        width: 100%;
    }

    .section__socials-network {
        margin-top: 5%;
        gap: 0 20px;
    }

    /* CSS: About */
    .about__section .section__title::after {
        display: none;
    }

    .about__section .section__title::after {
        display: none;
    }

    /* CSS: Companies */
    .companies__section {
        text-align: right;
    }

    .companies__section .section__title::after {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .footer__container {
        width: 90%;
        padding: 5% 0;
    }

    .footer__col {
        width: 100%;
    }

    .footer__col:nth-child(1) {
        width: 20%;
    }

    .footer__col:nth-child(2) {
        width: 50%;
    }

    .footer__col:nth-child(3) {
        width: 20%;
    }

    /* CSS: Col MailList */
    .mailList__section .section__title {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .mailList__section .section__title-small {
        font-size: .8rem;
        letter-spacing: 12px;
    }

    .mailList__section .section__content {
        width: 80%;
        margin: 5% auto;
    }

    .section__form {
        width: 80%;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .section__form .form__input-email {
        width: 100%;
    }

    .section__socials-network {
        gap: 0 20px;
    }

    /* CSS: About */
    .about__section .section__contact {
        word-break: break-all;
    }

    .about__section .section__title::after {
        display: none;
    }

    /* CSS: Companies */
    .companies__section {
        text-align: right;
    }

    .companies__section .section__title::after {
        display: none;
    }
}