/* CSS: Promotional */
.promotional {
    max-width: 100%;
}

/* CSS: Promotional Container*/
.promotional__container {
    width: 1140px;
    margin: 5% auto;
}

/* CSS: Promotional Row*/
.promotional__row {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* CSS: Promotional Row*/
.promotional__col {
    position: relative;
    top: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgb(240, 240, 240);
    padding: 30px;
    width: 23%;
    transition: 0.5s all ease;
}

/* CSS: Promotional Card*/
.card {
    position: relative;
    text-align: center;
    font-family: "EB Garamond", serif;
    color: rgb(38, 70, 83);
}

.card>h3 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 8px;
}

.card>span {
    font-size: 0.9rem;
    color: gray;
}

/* CSS: Icons */
.icon {
    font-size: 2rem;
}

/* CSS: Active */
.card::after,
.card::before {
    position: absolute;
    content: '';
    width: 1.5px;
    border-radius: 5px;
    height: 40px;
    background-color: rgba(222, 225, 226, 0.8);
    transform: rotate(40deg);
}

.card::after {
    right: -5px;
    top: -15px;
}

.card::before {
    right: 10px;
    top: -10px;
}

/* CSS: Effect */
.promotional__col:hover {
    top: 10px;
    background-color: rgb(38, 70, 83);
}

.promotional__col:hover .card,
.promotional__col:hover .card::after,
.promotional__col:hover .card::before,
.promotional__col:hover .card>span {
    color: #fff;
}

/* CSS: Responsive */
@media screen and (max-width:575px) {
    .promotional {
        margin-bottom: 20%;
    }

    .promotional__container {
        width: 90%;
    }

    .promotional__row {
        gap: 20px 0;
        justify-content: center;
    }

    .promotional__col {
        width: 100%;
        transition: .3s all ease;
    }

    /* CSS: Effect */
    .promotional__col:hover {
        top: 0;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .promotional {
        margin-bottom: 15%;
    }

    .promotional__container {
        width: 90%;
    }

    .promotional__row {
        gap: 20px;
    }

    .promotional__col {
        width: 48%;
        transition: .3s all ease;
    }

    /* CSS: Effect */
    .promotional__col:hover {
        top: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .promotional {
        margin-bottom: 15%;
    }

    .promotional__container {
        width: 90%;
    }

    .promotional__row {
        gap: 20px;
    }

    .promotional__col {
        width: 48%;
        transition: .3s all ease;
    }

    /* CSS: Effect */
    .promotional__col:hover {
        top: 5px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .promotional__container {
        width: 90%;
    }

    .promotional__row {
        gap: 30px 0;
    }

    .promotional__col {
        width: 48%;
    }

    /* CSS: Effect */
    .promotional__col:hover {
        top: 5px;
    }
}