:root {
    --color: #264653;
}

/* CSS: sideBar */
.sideBar {
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    top: 0;
    right: -500px;
    width: 300px;
    padding: 20px;
    transition: 1s all ease;
}

.sideBar__container {
    width: 100%;
    position: relative;
}

/* CSS: sideBar Header */
.sideBar__header {
    width: 100%;
    position: relative;
}

.sideBar__header .icon-close {
    color: #264653;
    cursor: pointer;
    font-size: 2rem;
}

/* CSS: sideBar User  */
.sideBar__user {
    font-family: "Roboto", sans-serif;
    margin: 5% 0 0;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.sideBar__user .avatar {
    margin: 0 auto 5px;
}

.sideBar__user>p {
    margin: 3px 0;
}

.sideBar__user .user__name {
    position: relative;
    color: #264653;
    font-weight: 600;
    font-size: 1.2rem;
}

.sideBar__user .user__name .icon-edit {
    cursor: pointer;
    position: absolute;
    font-size: 1.3rem;
    margin-left: 10px;
    bottom: 0;
}

.sideBar__user .user__email {
    color: gray;
    font-style: italic;
    font-size: 0.9rem;
}

/* CSS: SideBar Row - Menu */
.sideBar__row {
    margin: 10% 0;
    flex-direction: column;
}

/* CSS: SideBar Col - Menu */
.sideBar__col {
    margin-top: 15px;
    text-align: center;
}

.sideBar__menu-item {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #264653;
    color: #264653;
    transition: 0.5s all ease;
}


.sideBar__menu-item .link {
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 100%;
    color: #264653;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 0;
    transition: 0.3s all ease;
}

/* CSS: Active */
.sideBar.show {
    right: 0;
}

.sideBar__menu-item:last-child {
    background-color: #264653;
}

.sideBar__menu-item:last-child .link {
    color: #fff;
}

/* CSS: Effect */
.sideBar__menu-item:hover.sideBar__menu-item::before {
    width: 100%;
}

.sideBar__menu-item:hover {
    background-color: #264653;
}

.sideBar__menu-item:last-child:hover {
    opacity: 0.8;
    border-radius: 0;
}


.sideBar__menu-item:hover .link {
    color: #fff;
}

/* CSS: Responsive */
@media screen and (max-width:575px) {
    .sideBar {
        width: 100%;
        height: 100vh;
        right: -700px;
    }

    .sideBar__header {
        height: 40px;
    }

    .sideBar__header .icon-close {
        position: absolute;
        right: 0;
    }

    .sideBar__row {
        margin: 20px 0;
    }

    .sideBar__col {
        width: 300px;
        margin: 0 auto 20px;
    }

    .sideBar__menu-item {
        flex: 1;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .sideBar {
        height: 100vh;
        left: -700px;
    }

    .sideBar.show {
        left: 0;
    }

    .sideBar__header {
        height: 40px;
    }

    .sideBar__header .icon-close {
        position: absolute;
        right: 0;
    }

    .sideBar__row {
        margin: 20px 0;
    }

    .sideBar__col {
        width: 300px;
        margin: 0 auto 20px;
    }

    .sideBar__menu-item {
        flex: 1;
    }
}


@media screen and (min-width:768px) and (max-width:991px) {
    .sideBar {
        height: 100vh;
        right: -700px;
    }

    .sideBar__row {
        margin: 20px 0;
    }

    .sideBar__col {
        width: 300px;
        margin: 0 auto 20px;
    }

    .sideBar__menu-item {
        flex: 1;
    }
}


@media screen and (min-width:992px) and (max-width:1199px) {
    .sideBar {
        height: 100vh;
        right: -700px;
    }

    .sideBar__row {
        margin: 20px 0;
    }

    .sideBar__col {
        width: 300px;
        margin: 0 auto 20px;
    }

    .sideBar__menu-item {
        flex: 1;
    }
}