.products-best-seller {
    position: relative;
    margin: 4% 0;
    width: 100%;
}

/* CSS: Products Container */
.products__container {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* CSS: Products Header */
.products__header {
    font-family: "Playfair Display", serif;
    color: rgb(38, 70, 83);
}

.products__header>h2 {
    font-weight: 600;
    font-size: 1.8rem;
}

.products__header>p {
    margin-top: 15px;
    color: gray;
    font-size: 1rem;
    letter-spacing: 0.7px;
}

/* CSS: Products Section */
.section__header {
    text-align: right;
    margin: 5% 0 10px;
}

.section__link {
    font-family: "Roboto", sans-serif;
    color: rgb(38, 70, 83);
    border: 2px solid rgb(38, 70, 83);
    border-radius: 25px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: .8rem;
    transition: .8s all ease;
}

/* CSS: Active */
.products-best-seller::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 15%;
    box-shadow: 0 0 200px 200px rgba(241, 176, 176, 0.3);
    z-index: -1;
}

/* CSS: Effect */
.section__link:hover {
    background-color: rgb(38, 70, 83);
    color: #fff;
    border-radius: 0;
}

/* CSS: Responsive */
@media screen and (max-width:575px) {
    .products__container {
        width: 90%;
        margin: 15% auto;
    }

    .products__header>h2 {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .products__header>p {
        font-size: .8rem;
        line-height: 1.4rem;
    }

    .section__link {
        display: inline-block;
        margin-top: 5%;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    .products__container {
        width: 90%;
        margin: 10% auto;
    }

    .products__header>h2 {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .products__header>p {
        font-size: .9rem;
        line-height: 1.2rem;
    }

    .section__header {
        text-align: right;
        margin: 10% 0 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .products__container {
        width: 90%;
        margin: 10% auto;
    }

    .products__header>h2 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .products__header>p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .section__header {
        text-align: right;
        margin: 10% 0 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .products-rated {
        margin: 0 auto;
    }

    .products__container {
        width: 90%;
    }

    .products__header>h2 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .products__header>p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .section__header {
        text-align: right;
        margin: 10% 0 10px;
    }
}