.header,
.header__container {
    width: 100%;
    position: relative;
}

/* CSS: Header Img */
.header__container img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* CSS: Header Card */
.header__card {
    width: 700px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 20%;
    left: 3%;
    color: rgb(38, 70, 83);
}

.header__card>span {
    font-weight: 700;
    font-size: 1rem;
}

.header__card>h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 4rem;
    margin: 3% 0 15px;
}

.header__card>p {
    margin-bottom: 10%;
    font-size: 1rem;
    color: rgb(169, 168, 168);
    line-height: 1.5rem;
}

/* CSS: Header Form */
.header__link {
    cursor: pointer;
    color: #fff;
    background-color: rgb(38, 70, 83);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 0.9rem;
    padding: 15px 40px;
    transition: 0.3s all ease;
}

/* CSS: Effect */

.header__link:hover {
    border: 2px solid rgb(38, 70, 83);
    color: rgb(38, 70, 83);
    background-color: #fff;
    border-radius: 0;
}

/* CSS: Responsive */
@media screen and (max-width:575px) {
    .header__container {
        width: 100%;
    }

    .header__card {
        padding: 20px;
        width: 80%;
        left: 0;
        top: 20%;
    }

    .header__card>span {
        font-size: .8rem;
    }

    .header__card>h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin: 5% 0 25px;
    }

    .header__card>p {
        font-size: .9rem;
    }

    .header__link {
        display: inline-block;
        font-size: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .header__container {
        width: 100%;
    }

    .header__card {
        padding: 20px;
        width: 400px;
        left: 0;
        top: 20%;
    }

    .header__card>span {
        font-size: .8rem;
    }

    .header__card>h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin: 5% 0 25px;
    }

    .header__card>p {
        font-size: .9rem;
    }

    .header__link {
        display: inline-block;
        font-size: .8rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .header__container {
        width: 100%;
    }

    .header__card {
        padding: 20px;
        width: 450px;
        left: 0;
        top: 20%;
    }

    .header__card>span {
        font-size: .9rem;
    }

    .header__card>h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin: 3% 0 25px;
    }

    .header__card>p {
        font-size: .9rem;
    }

    .header__link {
        display: inline-block;
        font-size: .8rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .header__container {
        width: 100%;
    }

    .header__card {
        padding: 20px;
        width: 550px;
        left: 0;
        top: 20%;
    }

    .header__card>span {
        font-size: .9rem;
    }

    .header__card>h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin: 3% 0 25px;
    }

    .header__card>p {
        font-size: 1rem;
    }

    .header__link {
        display: inline-block;
        font-size: .8rem;
    }
}