.promotional {
    width: 100%;
}

/* CSS: Promotional Container */
.promotional__container {
    width: 90%;
    margin: 0 auto;
}

/* CSS: Promotional Row */
.promotional__row {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* CSS: Promotional Col */
.promotional__col {
    font-family: "Roboto", sans-serif;
    position: relative;
    width: 32%;
    height: 200px;
    color: #fff;
}

.promotional__col:nth-child(1) {
    background: linear-gradient(45deg, rgba(69, 69, 70, 0.3), rgba(83, 83, 83, 0.6)), url("https://res.cloudinary.com/eg-shop/image/upload/v1733621786/top-view-grapes-cheese-with-copy-space_23-2148610608_rhi2ru_bhgmaf.avif") no-repeat center;
    background-size: cover;
    background-clip: border-box;
}

.promotional__col:nth-child(2) {
    background: linear-gradient(45deg, rgba(69, 69, 70, 0.3), rgba(83, 83, 83, 0.6)), url("https://res.cloudinary.com/eg-shop/image/upload/v1733621785/tomatoes-with-peppers-potatoes-asparagus-sorrel-green-pods-peas-carrots-wooden-wall-flat-lay_176474-5859_gyldde_xhscwj.avif") no-repeat center;
    background-size: cover;
    background-clip: border-box;
}

.promotional__col:nth-child(3) {
    background: linear-gradient(45deg, rgba(69, 69, 70, 0.6), rgba(83, 83, 83, 0.3)), url("https://res.cloudinary.com/eg-shop/image/upload/v1733621630/colorful-capsicum-orange-bananas-gray-concrete-background_23-2148062371_dwxbsx_ubdmxr.avif") no-repeat center;
    background-size: cover;
    background-clip: border-box;
}

/* CSS: Promotional Card */
.promotional__col .promotional__card {
    overflow: hidden;
}

.promotional__col:nth-child(1) .promotional__card {
    position: absolute;
    right: 0;
    width: 70%;
    height: inherit;
    background-color: rgba(55, 71, 86, .8);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.promotional__col:nth-child(2) .promotional__card {
    position: absolute;
    right: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(55, 71, 86, .8);
}

.promotional__col:nth-child(3) .promotional__card {
    position: absolute;
    left: 0;
    width: 70%;
    height: inherit;
    background-color: rgba(55, 71, 86, .8);
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
}

/* CSS: Promotional Card Content */
.promotional__col .card__content {
    position: absolute;
    width: 70%;
    font-family: "EB Garamond", serif;
}

.promotional__col:nth-child(1) .card__content {
    text-align: right;
    right: 20px;
    top: 25%;
}

.promotional__col:nth-child(2) .card__content {
    text-align: center;
    left: 15%;
    top: 25%;
}


.promotional__col:nth-child(3) .card__content {
    left: 20px;
    top: 25%;
}


.promotional__col .card__content>h2 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.promotional__col .card__content>p:nth-child(1) {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.9;
    letter-spacing: 1px;
}

.promotional__col .card__content>p:nth-child(3) {
    font-size: .8rem;
    color: rgba(243, 241, 241, 0.92);
    letter-spacing: 1px;
    line-height: 1rem;
}

.promotional__col:nth-child(1) .card__content .card__link,
.promotional__col:nth-child(2) .card__content .card__link,
.promotional__col:nth-child(3) .card__content .card__link {
    display: inline-block;
    border: 2px solid #fff;
    font-weight: 500;
    border-radius: 25px;
    color: #fff;
    padding: 6px 15px;
    font-size: .8rem;
    margin-top: 20px;
    transition: .5s all ease;
}

/* CSS: Effect  */
.promotional__col:nth-child(1) .card__content .card__link:hover,
.promotional__col:nth-child(2) .card__content .card__link:hover,
.promotional__col:nth-child(3) .card__content .card__link:hover {
    border-radius: 0;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .promotional__col {
        width: 100%;
    }

    .promotional__col:nth-child(1) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(1) .card__content {
        position: relative;
        width: 90%;
        right: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }


    .promotional__col:nth-child(2) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col:nth-child(3) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(3) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col .card__content>p:nth-child(3) {
        font-size: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .promotional__row {
        justify-content: center;
    }

    .promotional__col {
        width: 48%;
    }

    .promotional__col:nth-child(1) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(1) .card__content {
        position: relative;
        width: 90%;
        right: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }


    .promotional__col:nth-child(2) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col:nth-child(3) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(3) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col .card__content>p:nth-child(1) {
        font-size: .7rem;
    }

    .promotional__col .card__content>h2 {
        font-size: 1rem;
    }

    .promotional__col .card__content>p:nth-child(3) {
        font-size: .8rem;
        height: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .promotional__row {
        justify-content: center;
    }

    .promotional__col {
        width: 48%;
    }

    .promotional__col:nth-child(1) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(1) .card__content {
        position: relative;
        width: 90%;
        right: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }


    .promotional__col:nth-child(2) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col:nth-child(3) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(3) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col .card__content>h2 {
        font-size: 1.1rem;
    }

    .promotional__col .card__content>p:nth-child(3) {
        font-size: .8rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .promotional {
        margin: 10% 0;
    }

    .promotional__col {
        width: 31%;
    }

    .promotional__col:nth-child(1) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(1) .card__content {
        position: relative;
        width: 90%;
        right: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }


    .promotional__col:nth-child(2) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col:nth-child(3) .promotional__card {
        width: 100%;
        background-color: rgba(55, 71, 86, .8);
        clip-path: none;
    }

    .promotional__col:nth-child(3) .card__content {
        position: relative;
        width: 80%;
        left: 0;
        top: 20%;
        margin: 0 auto;
        text-align: center;
    }

    .promotional__col .card__content>h2 {
        font-size: 1rem;
    }

    .promotional__col .card__content>p:nth-child(3) {
        font-size: .8rem;
    }
}