.section__card {
    width: 100%;
    text-align: center;
    position: relative;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 10px 1px rgba(210, 210, 212, .3);
    border-radius: 5px;
    overflow: hidden;
    animation: showCard 1.5s ease 1 forwards;
}

.section__card__percent-discount {
    position: absolute;
    display: inline-block;
    background-color: #FF5B5C;
    border-radius: 25px;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.7rem;
    left: 20px;
    top: 20px;
    transition: .5s all ease;
}

.section__card>img {
    cursor: pointer;
    margin: 30px auto 20px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    transition: 1s all ease;
}

.card-detail {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.card-detail-name {
    display: inline-block;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 1.1rem;
    color: rgb(38, 70, 83);
    font-weight: 600;
}

.card-detail-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0 10px;
}

.card-detail-price-origin-old {
    color: #BCBCBC;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: line-through;
    margin-right: 10px;
}

.card-detail-price-discount,
.card-detail-price-origin {
    color: #00152A;
    font-size: 1.1rem;
    font-weight: 700;
}

.card-detail-btn-add {
    cursor: pointer;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: -50px;
    text-align: left;
    background-color: #264653;
    color: #fff;
    border: 0;
    left: 2px;
    width: 150px;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 0.9rem;
    transition: left 1s ease, bottom 1s ease, background-color .3s ease;
}

/* CSS: Active */
.card-detail-rating {
    position: relative;
    left: 0;
    transition: 1s all ease;
}

/* CSS: Icons */
.card-detail-icon-btn {
    position: absolute;
    top: 3.5px;
    right: 4px;
    font-size: 1.4rem;
    padding: 2px;
    color: #264653;
    background-color: #fff;
    border-radius: 100%;
}

.card-icon-search {
    cursor: pointer;
    position: absolute;
    font-size: 1rem;
    color: #fff;
    border-radius: 100%;
    padding: 8px;
    background-color: rgb(38, 70, 83);
    top: 10px;
    right: -100px;
    transition: .3s all ease;
}

/* CSS: Effect */

.section__card:hover {
    box-shadow: 0 0 10px 1px #264653;
}

.section__card:hover .card-detail-btn-add {
    bottom: 15px;
    left: 2px;
}

.card-detail-name:hover {
    color: #e0500d;
}

.section__card:hover .card-detail-rating {
    left: -300px;
}

.section__card:hover .card-icon-search {
    right: 10px;
}

.card-icon-search:hover,
.card-detail-btn-add:hover {
    background-color: #e0500d;
}

.section__card:hover>img {
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgba(219, 219, 242, .4);
}

/* CSS: Animations */
@keyframes showCard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* CSS: Animations */

@media screen and (max-width:575px) {

    .section__card {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card__percent-discount {
        top: 0;
        left: 0;
        font-size: .6rem;
        border-radius: 0;
        border-bottom-right-radius: 25px;
        padding: 5px 15px 5px 5px;
    }

    .section__card>img {
        margin: 20px auto;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .card-detail-name {
        font-size: 1rem;
    }

    .card-detail-price {
        margin: 15px 0;
    }

    .card-detail-price-origin-old {
        font-size: .8rem;
    }

    .card-detail-price-discount,
    .card-detail-price-origin {
        font-size: .9rem;
    }

    .card-detail-btn-add {
        width: 110px;
        text-align: center;
        padding: 8px 10px;
        font-size: .8rem;
    }

    .card-detail-icon-btn {
        display: none;
    }

    .card-icon-search {
        font-size: .9rem;
    }


    /* CSS: Effect */
    .section__card:hover {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card:hover .card-detail-btn-add {
        left: 0px;
    }

    .section__card:hover .card-icon-search {
        top: -4px;
        right: -4px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .section__card {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card__percent-discount {
        top: 10px;
        left: 10px;
        font-size: .7rem;
        padding: 5px 10px;
    }

    .section__card>img {
        margin: 20px auto;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .card-detail-name {
        font-size: 1rem;
    }

    .card-detail-price {
        gap: 5px 0;
        margin: 13px 0;
    }

    .card-detail-price-origin-old {
        font-size: .9rem;
    }

    .card-detail-price-discount,
    .card-detail-price-origin {
        font-size: 1rem;
    }

    .card-detail-btn-add {
        width: 110px;
        text-align: center;
        font-size: .8rem;
    }

    .card-detail-icon-btn {
        display: none;
    }

    .card-icon-search {
        font-size: .9rem;
    }


    /* CSS: Effect */
    .section__card:hover {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card:hover .card-detail-btn-add {
        left: 0px;
    }

    .section__card:hover .card-icon-search {
        top: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .section__card {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card__percent-discount {
        top: 10px;
        left: 10px;
        font-size: .7rem;
        padding: 5px 10px;
    }

    .section__card>img {
        margin: 20px auto;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .card-detail-name {
        font-size: 1rem;
    }

    .card-detail-price {
        gap: 5px 0;
    }

    .card-detail-price-origin-old {
        font-size: .8rem;
    }

    .card-detail-price-discount,
    .card-detail-price-origin {
        font-size: 1rem;
    }

    .card-detail-btn-add {
        width: 110px;
        text-align: center;
        padding: 8px 10px;
        font-size: .8rem;
    }

    .card-detail-icon-btn {
        display: none;
    }

    .card-icon-search {
        font-size: .9rem;
    }

    /* CSS: Effect */
    .section__card:hover {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card:hover .card-detail-btn-add {
        left: 0px;
    }

    .section__card:hover .card-icon-search {
        top: 5px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .section__card {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card__percent-discount {
        top: 10px;
        left: 10px;
        font-size: .6rem;
        padding: 5px 10px;
    }

    .section__card>img {
        margin: 20px auto;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }

    .card-detail-name {
        font-size: 1rem;
    }

    .card-detail-price {
        gap: 5px 0;
    }

    .card-detail-price-origin-old {
        font-size: .8rem;
    }

    .card-detail-price-discount,
    .card-detail-price-origin {
        font-size: 1rem;
    }

    .card-detail-btn-add {
        width: 110px;
        text-align: center;
        padding: 8px 10px;
        font-size: .8rem;
    }

    .card-detail-icon-btn {
        display: none;
    }

    .card-icon-search {
        font-size: .9rem;
    }

    /* CSS: Effect */
    .section__card:hover {
        box-shadow: 0 0 5px 1px rgba(219, 219, 242, .6);
    }

    .section__card:hover .card-detail-btn-add {
        left: 0px;
    }

    .section__card:hover .card-icon-search {
        top: 5px;
    }
}