.profile {
    width: 100%;
}

/* CSS: Profile Container */
.profile-container {
    box-shadow: 4px 4px 15px 1px rgba(200, 199, 199, .3);
    padding: 40px 30px;
}

.profile-container>h4 {
    font: 600 1.2rem/1.4rem "Playfair Display", serif;
    color: rgba(41, 55, 61, .9);
    letter-spacing: .6px;
}

/* CSS: Profile Header */
.profile-header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 20px;
}

/* CSS: Profile Header Avatar */
.profile-header-avatar {
    position: relative;
    text-align: center;
    width: 100px;
    text-align: left;
}

.profile-header-avatar>img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.form-input-file>label {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.form-input-file>label .icon-upload-image {
    font-size: .9rem;
    color: #fff;
    background-color: rgb(248, 104, 34);
    padding: 6px;
    border-radius: 100%;
    transition: .5s all ease;
}

.form-input-file>input[type="file"] {
    display: none;
}

/* CSS: Profile Header Actions*/
.profile-header-actions {
    display: flex;
    gap: 0 30px;
    opacity: 1;
    transition: .5s all ease;
}

.profile-header-actions>button {
    cursor: pointer;
    font: 600 .8rem/1.2rem "Roboto", sans-serif;
    width: 100px;
    letter-spacing: .8px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .5s all ease;
}

.profile-header-actions .btn-action-upload {
    background-color: rgb(248, 104, 34);
    color: rgba(255, 255, 255, .9);
}

.profile-header-actions .btn-action-remove {
    background-color: #fff;
    color: rgba(52, 51, 51, 1);
    box-shadow: 5px 5px 10px 1px rgba(199, 198, 198, .4);
}

/* CSS: Profile Form*/
.profile-form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
}

.form-input {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px 0;
}

.form-input-email,
.form-input-phone,
.form-input-address,
.form-input-password,
.form-input-confirm-password {
    width: 100%;
}

.form-input>label {
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    color: rgb(43, 42, 42);
    letter-spacing: .4px;
}

.form-input>label>span {
    color: rgb(230, 23, 23);
    font: 700 .9rem/1.3rem "Roboto", sans-serif;
}

.form-input>input {
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 2px solid rgba(211, 211, 211, .4);
    padding: 0 30px 0 15px;
    border-radius: 3px;
    transition: .5s all ease-in-out;
}

.form-input>input::placeholder {
    font: 500 .8rem/1.3rem "Roboto", sans-serif;
    color: rgb(182, 182, 182);
    letter-spacing: .4px;
}

.form-input .input-error {
    border: 2px solid rgba(230, 23, 23, .6);
}

.form-input .message-error {
    font: 500 .8rem/1.3rem "Roboto", sans-serif;
    color: rgb(230, 23, 23);
}

.profile-form .btn-save {
    margin-top: 25px;
    cursor: pointer;
    font: 600 .9rem/1.2rem "Roboto", sans-serif;
    width: 150px;
    height: 45px;
    letter-spacing: .6px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(248, 104, 34);
    color: rgba(255, 255, 255, .9);
    transition: .5s all ease;
}

/* CSS: Effect */
.form-input-file>label:hover .icon-upload-image {
    background-color: rgb(45, 58, 79);
}

.profile-header-actions .btn-action-upload:hover,
.profile-form .btn-save:hover {
    background-color: rgb(52, 73, 90);
}

.profile-header-actions .btn-action-remove:hover {
    box-shadow: -5px -5px 10px 1px rgba(199, 198, 198, .4);
}

.profile-form .form-input>input:focus {
    outline: none;
    border: 2px solid rgba(45, 58, 79, .6);
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .profile-header {
        gap: 20px 0;
    }

    .profile-header-avatar {
        width: 100px;
        margin: 0 auto;
    }

    .form-input-file>label {
        bottom: 5px;
        right: 15px;
    }

    .profile-header-actions {
        width: 100%;
        justify-content: center;
        gap: 0 20px;
    }

    .profile-header-actions>button {
        width: 120px;
    }

    .form-input-firstName,
    .form-input-lastName {
        width: 100%;
    }

    .profile-form .btn-save {
        font-size: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:765px) {
    .profile-form .btn-save {
        font-size: .8rem;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .profile-form .btn-save {
        font-size: .8rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .profile-form .btn-save {
        font-size: .8rem;
    }
}