.form-input {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0;
    margin-bottom: 20px;
}

.form-input>label {
    width: 100%;
    color: rgba(38, 70, 83, .9);
    font-size: .9rem;
    padding-left: 15px;
    font-weight: 600;
}

.form-input>label>span {
    color: rgba(224, 73, 4, .8);
    font-weight: 700;
    margin-left: 2px;
}

.form-input>input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;
    font-size: .8rem;
    border: 2px solid rgba(128, 128, 128, 0.4);
    transition: .3s all ease-in-out;
}

.form-input .input-password-error,
.form-input .input-email-error {
    border: 2px solid rgba(224, 73, 4, .8);
}

.form-input .message-error {
    color: rgba(224, 73, 4);
    font-size: .8rem;
    margin: 5px 0 0 0;
    letter-spacing: .6px;
}

.form-input>input::placeholder {
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: .8rem;
}

.form-input>input:focus {
    outline: none;
    border: 2px solid rgba(38, 70, 83, .9);
}