.detail-cart {
    margin: 5% 0;
}

/* CSS: Detail Cart Container */
.detail-cart-container {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* CSS: Detail Cart Col Title */
.col-title {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CSS: Detail Cart Col Item Content */
.col-item-content {
    width: 100%;
    margin-bottom: 10px;
}

.col-item-content:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* CSS: Cast */
.cast {
    background-color: red;
    width: 100%;
    height: 50px;
    position: relative;
}

.cast.sticky {
    position: sticky;
    bottom: 0;
}

/* CSS: Icons */
.icon-action-delete,
.icon-action-view {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: .8s all ease-in-out;
}

/* CSS: Active */
.col-title.active .icon-action-delete {
    background-color: rgb(213, 72, 29);
    z-index: 1;
    opacity: 1;
    top: -10px;
    left: -45px;
}

.col-title.active .icon-action-view {
    background-color: rgb(34, 94, 167);
    z-index: 1;
    opacity: 1;
    top: -45px;
    left: -10px;
}

/* CSS: Responsives */

@media screen and (max-width:575px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .col-title .icon-action-delete,
    .col-title .icon-action-view {
        position: absolute;
        border-radius: 0;
        z-index: 1;
        opacity: 1;
        height: 60px;
        padding: 0 20px;
        font-size: 1.3rem;
    }

    .col-title .icon-action-delete {
        background-color: rgb(213, 72, 29);
        left: auto;
        right: -100px;
    }

    .col-title .icon-action-view {
        background-color: rgb(34, 94, 167);
        left: auto;
        right: -100px;
        transition-delay: .3s;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        top: 0;
        left: auto;
        right: 64px;
        transition-delay: .5s;
    }

    .col-title.active .icon-action-view {
        top: 0;
        left: auto;
        right: 0;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .col-title .icon-action-delete,
    .col-title .icon-action-view {
        position: absolute;
        border-radius: 0;
        z-index: 1;
        opacity: 1;
        height: 60px;
        padding: 0 20px;
        font-size: 1.3rem;
    }

    .col-title .icon-action-delete {
        background-color: rgb(213, 72, 29);
        left: auto;
        right: -100px;
    }

    .col-title .icon-action-view {
        background-color: rgb(34, 94, 167);
        left: auto;
        right: -100px;
        transition-delay: .3s;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        top: 0;
        left: auto;
        right: 60px;
        transition-delay: .5s;
    }

    .col-title.active .icon-action-view {
        top: 0;
        left: auto;
        right: 0;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .col-title .icon-action-delete,
    .col-title .icon-action-view {
        position: absolute;
        border-radius: 0;
        z-index: 1;
        opacity: 1;
        height: 60px;
        padding: 0 20px;
        font-size: 1.3rem;
    }

    .col-title .icon-action-delete {
        background-color: rgb(213, 72, 29);
        left: auto;
        right: -100px;
    }

    .col-title .icon-action-view {
        background-color: rgb(34, 94, 167);
        left: auto;
        right: -100px;
        transition-delay: .3s;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        top: 0;
        left: auto;
        right: 64px;
        transition-delay: .5s;
    }

    .col-title.active .icon-action-view {
        top: 0;
        left: auto;
        right: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .col-title .icon-action-delete,
    .col-title .icon-action-view {
        position: absolute;
        border-radius: 0;
        z-index: 1;
        opacity: 1;
        height: 60px;
        padding: 0 20px;
        font-size: 1.3rem;
    }

    .col-title .icon-action-delete {
        background-color: rgb(213, 72, 29);
        left: auto;
        right: -100px;
    }

    .col-title .icon-action-view {
        background-color: rgb(34, 94, 167);
        left: auto;
        right: -100px;
        transition-delay: .3s;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        top: 0;
        left: auto;
        right: 64px;
        transition-delay: .5s;
    }

    .col-title.active .icon-action-view {
        top: 0;
        left: auto;
        right: 0;
    }
}