.detail-cart {
    margin: 5% 0;
}

/* CSS: Detail Cart Container */
.detail-cart-container {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* CSS: Empty Cart */
.empty-cart {
    width: 100%;
    margin: 50px 0 30px;
    text-align: center;
}

.empty-cart>p {
    font: 500 1.2rem/1.2rem "Roboto", sans-serif;
    letter-spacing: .4px;
    color: rgb(55, 55, 55);
}

.empty-cart .btn-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.btn-actions>button {
    cursor: pointer;
    font: 500 1rem/1.2rem "Roboto", sans-serif;
    padding: 10px 20px;
    border-radius: 0;
    border: 0;
    background-color: #fff;
    transition: .5s all ease;
}

.btn-actions .btn-go-home {
    background-color: #dedddd;
    color: rgb(70, 68, 68);
}

.btn-actions .btn-go-shop {
    background-color: #37647A;
    color: #fff;
}

/* CSS: Detail Cart Col Title */
.col-title {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CSS: Detail Cart Col Item Content */
.col-item-content {
    width: 100%;
    margin-bottom: 10px;
}

.col-item-content:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* CSS: Effects */
.btn-actions .btn-go-home:hover {
    background-color: #37647A;
    color: #fff;
}

.btn-actions .btn-go-shop:hover {
    background-color: #203a47;
}


/* CSS: Responsives */

@media screen and (max-width:575px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        left: auto;
        right: 0;
        top: 30vh;
    }

    .col-title.active .icon-action-view {
        left: auto;
        right: 0;
        top: 38vh;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        left: auto;
        right: 0;
        top: 30vh;
    }

    .col-title.active .icon-action-view {
        left: auto;
        right: 0;
        top: 38vh;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        left: auto;
        right: 0;
        top: 30vh;
    }

    .col-title.active .icon-action-view {
        left: auto;
        right: 0;
        top: 38vh;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .detail-cart-container {
        width: 90%;
    }

    .col-title {
        display: flex;
        align-items: center;
    }

    /* CSS: Active */
    .col-title.active .icon-action-delete {
        left: auto;
        right: 0;
        top: 30vh;
    }

    .col-title.active .icon-action-view {
        left: auto;
        right: 0;
        top: 38vh;
    }
}