.list-title-container {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 70px 1fr 150px 200px 100px;
    align-items: center;
    box-shadow: 2px 5px 10px 2px rgba(203, 211, 215, 0.4);
    background-color: rgb(55, 100, 122);
}

.bg-title:nth-child(1) .input-select-items {
    appearance: none;
    cursor: pointer;
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.bg-title:nth-child(1) .input-select-items:checked {
    background-color: #fff;
}

.bg-title:nth-child(1) .input-select-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 7px;
    height: 12px;
    border: solid rgb(55, 100, 122);
    border-width: 0 3.5px 3.5px 0;
    transform: rotate(45deg);
    display: none;
    border-radius: 3px;
}

.bg-title:nth-child(1) .input-select-items:checked::before {
    display: block;
}

.bg-title>h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .6px;
    color: #fff;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .list-title-container {
        position: relative;
        width: 100%;
        grid-template-columns: 40px 1fr 70px;
    }

    .bg-title {
        display: none;
    }

    .bg-title.selected {
        display: block;
    }

    .bg-title.name {
        display: block;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .list-title-container {
        position: relative;
        width: 100%;
        grid-template-columns: 60px 1fr 90px;
    }

    .bg-title {
        display: none;
    }

    .bg-title.selected {
        display: block;
    }

    .bg-title.name {
        display: block;
    }

}

@media screen and (min-width:766px) and (max-width:991px) {
    .list-title-container {
        position: relative;
        width: 100%;
        grid-template-columns: 70px 1fr 140px 140px 70px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {}