.list-content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 150px 200px 100px;
    align-items: center;
    box-shadow: 2px 5px 10px 2px rgba(203, 211, 215, 0.4);
    background-color: #fff;
}

/* CSS: BG Content Selected */
.bg-content.selected .input-select-items {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 15px;
    top: 2px;
}

.bg-content.selected .input-select-items:checked {
    accent-color: rgb(55, 100, 122);
    position: relative;
}

/* CSS: BG Content Product */
.bg-content.product {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 0 15px;
    margin: 15px 0;
}

.bg-content.product>img {
    cursor: pointer;
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.bg-content.product .product-detail {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    justify-content: flex-start;
    color: rgb(30, 40, 54);
}

.product-detail .product-detail-name {
    font: 600 1rem/1rem "Roboto", sans-serif;
    color: rgba(46, 59, 78, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-detail .product-detail-unit {
    font: 500 .9rem/1rem "Roboto", sans-serif;
}

.product-detail-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-detail-price-origin-old {
    color: #BCBCBC;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: line-through;
    margin-right: 10px;
}

.product-detail-price-discount,
.product-detail-price-origin {
    color: #00152A;
    font-size: 1rem;
}

/* CSS: BG Content Quantity */
.flex-bg-quantity {
    margin: 0 auto;
}

.buttons-update-quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
}

.buttons-update-quantity .icon {
    cursor: pointer;
    color: rgb(30, 40, 54);
    font-size: .8rem;
    flex: .3;
    border-radius: 3px;
    padding: 8px 0;
    transition: .5s all ease;
}

.buttons-update-quantity .icon-increase {
    background-color: rgb(55, 100, 122);
    color: #fff;
}

.buttons-update-quantity .icon-decrease:hover {
    background-color: rgb(55, 100, 122);
    color: #fff;
}

.buttons-update-quantity .icon-decrease:hover~.icon-increase {
    background-color: transparent;
    color: rgb(30, 40, 54);
}

.buttons-update-quantity .input-quantity {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 30px;
    border: 0;
    font-size: 1rem;
}

/* CSS: BG Content SubTotal */
.bg-content.subtotal {
    font: 500 1rem/1rem "Roboto", sans-serif;
}

/* CSS: BG Content Actions */
.bg-content.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;
}

.bg-content.action .icon {
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 100%;
    padding: 4px;
    transition: .5s all ease;
}

.bg-content.action .icon-action-delete {
    color: rgb(213, 72, 29);
    font-weight: 600;
}

.bg-content.action .icon-action-find {
    color: rgb(39, 23, 67);
    font-weight: 600;
}

/* CSS: Active */
.bg-content.quantity .input-quantity[type="number"]::-webkit-inner-spin-button,
.bg-content.quantity .input-quantity[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* CSS: Effect */
.bg-content.quantity .input-quantity:focus {
    outline: none;
}

.bg-content.action .icon-action-delete:hover {
    background-color: rgb(213, 72, 29);
    color: #fff;
}

.bg-content.action .icon-action-find:hover {
    color: #fff;
    background-color: rgb(39, 23, 67);
}

.bg-content.name>p:hover {
    font-weight: 700;
    color: rgb(30, 40, 54);
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .list-content-container {
        position: relative;
        width: 100%;
        grid-template-columns: 40px 80px 1fr 50px;
        align-items: center;
        gap: 5px 0;
    }

    /* CSS: BG Content Selected */
    .bg-content.selected {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    /* CSS: BG Content Product */
    .bg-content.product {
        flex-wrap: nowrap;
        grid-column: 2/3;
        margin: 15px auto 0;
    }

    .bg-content.product>img {
        width: 80px;
        height: 80px;
    }

    .bg-content.product .product-detail {
        width: 100px;
    }

    /* CSS: BG Content SubTotal */
    .bg-content.subtotal {
        font: 600 1rem/1rem "Roboto", sans-serif;
        color: rgba(39, 23, 67, .9);
        position: relative;
        grid-column: 2/5;
        grid-row: 3/4;
        text-align: right;
        margin: 5px 0 15px;
        width: 100%;
        padding-right: 20px;
    }

    .bg-content.subtotal::before {
        content: "Subtotal:";
        position: absolute;
        left: 0;
    }

    /* CSS: BG Content Quantity */
    .bg-content.quantity {
        position: relative;
        width: 100%;
        grid-column: 2/5;
        grid-row: 2/3;
        padding-right: 20px;
    }

    .bg-content.quantity ::before {
        content: "Quantity:";
        position: absolute;
        left: 0;
        top: 6px;
    }

    .buttons-update-quantity {
        justify-content: flex-end;
        gap: 0;
    }

    .buttons-update-quantity .icon {
        flex: none;
        width: 30px;
        padding: 5px 0;
    }

    /* CSS: BG Content Action */
    .bg-content.action {
        grid-row: 1;
        grid-column: 4/5;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .list-content-container {
        position: relative;
        width: 100%;
        grid-template-columns: 60px 80px 1fr 50px;
        align-items: center;
        gap: 5px;
    }

    /* CSS: BG Content Selected */
    .bg-content.selected {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    /* CSS: BG Content Product */
    .bg-content.product {
        flex-wrap: nowrap;
        grid-column: 2/3;
        margin: 15px auto 0;
    }

    .bg-content.product .product-detail {
        width: 100px;
    }

    /* CSS: BG Content SubTotal */
    .bg-content.subtotal {
        font: 600 1rem/1rem "Roboto", sans-serif;
        color: rgba(39, 23, 67, .9);
        position: relative;
        grid-column: 3/5;
        grid-row: 3/4;
        text-align: right;
        margin: 5px 0 15px;
        width: 100%;
        padding-right: 20px;
    }

    .bg-content.subtotal::before {
        content: "Subtotal:";
        position: absolute;
        left: 30px;
    }

    /* CSS: BG Content Quantity */
    .bg-content.quantity {
        position: relative;
        width: 100%;
        grid-column: 3/5;
        grid-row: 2/3;
        padding-right: 20px;
    }

    .bg-content.quantity ::before {
        content: "Quantity:";
        position: absolute;
        left: 30px;
        top: 6px;
    }

    .buttons-update-quantity {
        justify-content: flex-end;
        gap: 0;
    }

    .buttons-update-quantity .icon {
        flex: none;
        width: 35px;
        padding: 6px 0;
    }

    /* CSS: BG Content Action */
    .bg-content.action {
        grid-row: 1;
        grid-column: 4/5;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .list-content-container {
        grid-template-columns: 70px 1fr 140px 140px 70px;
    }

    .bg-content.product .product-detail {
        width: 150px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {}