.form-contact-container {
    width: 900px;
    margin: 5% auto;
}

.form-contact-header {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.form-contact-header>h2 {
    font-family: "Playfair Display", serif;
    color: rgb(38, 70, 83);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
}

.form-contact-section {
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(221, 220, 220, .3), 0 0 10px 2px rgba(251, 251, 251, 0.3);
    padding: 30px;
}

.form-contact-section>h3 {
    font-family: "EB Garamond", serif;
    color: rgb(38, 70, 83);
    font-weight: 600;
    font-size: 1.6rem;
}

.form-contact-section>p {
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: .9rem;
    font-style: italic;
    margin: 15px 0 30px;
}

.form-contact-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 20px;
}

.form-input {
    font-family: "Roboto", sans-serif;
    transition: .5s all ease;
}

.form-input-name,
.form-input-email {
    width: 48%;
}

.form-input-message {
    width: 100%;
}

.form-input-message>textarea {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    width: inherit;
    height: 150px;
    padding: 12px 20px 12px 15px;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 3px;
}

.form-input>label {
    display: block;
    color: rgb(58, 58, 58);
    margin-bottom: 10px;
    font-size: .9rem;
}

.form-input>label>span {
    color: rgba(224, 73, 4, .8);
    font-weight: 700;
    margin-left: 2px;
}

.form-input .message-error {
    color: rgba(224, 73, 4);
    font-size: .8rem;
    margin: 8px 0 0 0;
    letter-spacing: .6px;
}

.form-input>input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px 12px 15px;
    border-radius: 3px;
    border: 2px solid rgb(213, 213, 213);
    font-size: .8rem;
}

.form-input>input::placeholder,
.form-input>textarea::placeholder {
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: .8rem;
}

.form-btn-submit {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #fff;
    width: 150px;
    font-size: .9rem;
    padding: 12px 0;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(38, 70, 83);
    transition: .5s all ease;
}


/* CSS: Active */
.form-input .input-name-error,
.form-input .input-email-error,
.form-input .input-desc-error {
    border: 2px solid rgba(224, 73, 4, .8);
}

/* CSS: Effect */
.form-input>input:focus,
.form-input>textarea:focus {
    border: 2px solid rgb(38, 70, 83);
    border-radius: 0;
    outline: none;
}

.form-btn-submit:hover {
    opacity: .8;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .form-contact-container {
        width: 90%;
        margin: 15% auto;
    }

    .form-contact-header {
        width: 90%;
        margin-bottom: 30px;
    }

    .form-contact-header>h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .form-contact-section>h3 {
        font-size: 1.2rem;
    }

    .form-contact-section>p {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .form-input>label {
        font-size: .8rem;
    }

    .form-input-name,
    .form-input-email {
        width: 100%;
    }

    .form-btn-submit {
        font-size: .8rem;
        width: 130px;
    }

    .form-input>input:hover {
        border: 2px solid rgb(38, 70, 83);
        outline: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .form-contact-container {
        width: 90%;
        margin: 10% auto;
    }

    .form-contact-header {
        width: 90%;
        margin-bottom: 30px;
    }

    .form-contact-header>h2 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .form-contact-section>h3 {
        font-size: 1.2rem;
    }

    .form-contact-section>p {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .form-input>label {
        font-size: .8rem;
    }

    .form-input-name,
    .form-input-email {
        width: 100%;
    }

    .form-btn-submit {
        font-size: .8rem;
        width: 130px;
    }

    .form-input>input:hover {
        border: 2px solid rgb(38, 70, 83);
        outline: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .form-contact-container {
        width: 70%;
        margin: 5% auto;
    }

    .form-contact-header {
        width: 60%;
        margin-bottom: 30px;
    }

    .form-contact-header>h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .form-contact-section>h3 {
        font-size: 1.4rem;
    }

    .form-contact-section>p {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .form-input>label {
        font-size: .9rem;
    }

    .form-input-name,
    .form-input-email {
        width: 100%;
    }

    .form-btn-submit {
        font-size: .8rem;
    }

    .form-input>input:hover {
        border: 2px solid rgb(38, 70, 83);
        outline: none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .form-contact-container {
        width: 70%;
        margin: 5% auto;
    }

    .form-contact-header {
        width: 60%;
        margin-bottom: 30px;
    }

    .form-contact-header>h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .form-contact-section>h3 {
        font-size: 1.4rem;
    }

    .form-contact-section>p {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .form-input>label {
        font-size: .9rem;
    }

    .form-input-name,
    .form-input-email {
        width: 48%;
    }

    .form-btn-submit {
        font-size: .8rem;
    }

    .form-input>input:hover {
        border: 2px solid rgb(38, 70, 83);
        outline: none;
    }
}