.form-checkout,
.form-checkout-container {
    width: 600px;
}

.form-section>h3 {
    font: 600 1.7rem/1.3rem "Playfair Display", serif;
    margin-bottom: 50px;
    color: rgba(35, 53, 68, .9);
    letter-spacing: .6px;
    width: 100%;
}

.form-section {
    width: 100%;
    display: flex;
    gap: 30px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 50px 3px rgba(220, 219, 219, .4);
    padding: 30px;
}

.form-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* CSS: Form Input Field */
.form-input-firstName,
.form-input-lastName,
.form-input-phone,
.form-input-email {
    width: 47%;
}

.form-input-district,
.form-input-ward {
    width: 47%;
}

.form-input-address,
.form-input-city,
.form-input-note {
    width: 100%;
}

.form-input-note>textarea {
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
    height: 150px;
    max-height: 200px;
    resize: none;
    padding: 10px 30px 0 20px;
    transition: .5s all ease-in-out;
}

.form-input>label {
    width: 100%;
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    color: rgb(73, 72, 72);
    letter-spacing: .6px;
    margin-bottom: 5px;
}

.form-input>label>span {
    color: rgb(230, 23, 23);
    font: 700 1rem/1.3rem "Roboto", sans-serif;
}

.form-input .input-firstName,
.form-input .input-lastName,
.form-input .input-address,
.form-input .input-phone,
.form-input .input-email {
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(211, 211, 211);
    padding: 0 30px 0 20px;
    transition: .5s all ease-in-out;
}

.form-input .input-error {
    border: 1px solid rgba(224, 73, 4);
}

.form-input .message-error {
    color: rgba(224, 73, 4);
    font-size: .8rem;
    margin: 5px 0 0 0;
    letter-spacing: .4px;
}

.form-input>input::placeholder,
.form-input-note>textarea::placeholder {
    font: 500 .8rem/1.3rem "Roboto", sans-serif;
    color: rgb(163, 163, 163);
    letter-spacing: .6px;
}

.form-input-city .flex-selects-city,
.form-input-district .flex-selects-district,
.form-input-ward .flex-selects-ward {
    position: relative;
    width: 100%;
    height: 50px;
}

.form-input-district .flex-selects-district>input,
.form-input-ward .flex-selects-ward>input {
    cursor: not-allowed;
    background-color: rgba(199, 199, 199, .4);
}

.form-input-city .flex-selects-city>input,
.form-input-district .flex-selects-district>input,
.form-input-ward .flex-selects-ward>input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: inherit;
    font: 500 .9rem/1rem "Roboto", sans-serif;
    color: rgb(73, 72, 72);
    padding: 0 30px 0 20px;
    border: 1px solid rgb(211, 211, 211);
    transition: .5s all ease-in-out;
}

.form-input-city .flex-selects-city .input-error,
.form-input-district .flex-selects-district .input-error,
.form-input-ward .flex-selects-ward .input-error {
    border: 1px solid rgba(224, 73, 4);
}

.form-input-city .flex-selects-city .icon-dropdown-selects,
.form-input-district .flex-selects-district .icon-dropdown-selects,
.form-input-ward .flex-selects-ward .icon-dropdown-selects {
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    color: rgb(186, 87, 10);
    top: 15px;
    right: 5px;
    transform: rotate(-90deg);
    transition: .3s all ease-in-out;
}

.form-input-city .flex-selects-city>input,
.form-input-district.active .flex-selects-district>input,
.form-input-ward.active .flex-selects-ward>input {
    cursor: pointer;
    background-color: #fff;
}

.menu-dropdown-cities,
.menu-dropdown-districts,
.menu-dropdown-wards {
    position: absolute;
    top: 77px;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    border-top: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s all ease-in-out
}

.menu-dropdown-cities.active,
.menu-dropdown-districts.active,
.menu-dropdown-wards.active {
    opacity: 1;
    visibility: initial;
}

.menu-dropdown-cities .form-search,
.menu-dropdown-districts .form-search,
.menu-dropdown-wards .form-search {
    padding: 10px 10px 5px;
}

.menu-dropdown-cities .form-search>input,
.menu-dropdown-districts .form-search>input,
.menu-dropdown-wards .form-search>input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.menu-dropdown-cities .form-search>input::placeholder,
.menu-dropdown-districts .form-search>input::placeholder,
.menu-dropdown-wards .form-search>input::placeholder {
    font: 500 .8rem/1.3rem "Roboto", sans-serif;
    color: rgb(119, 119, 119);
}

.menu-dropdown-cities .list-cities,
.menu-dropdown-districts .list-districts,
.menu-dropdown-wards .list-wards {
    background-color: rgba(234, 231, 231, 0.2);
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.menu-dropdown-cities .list-cities .city-name,
.menu-dropdown-districts .list-districts .district-name,
.menu-dropdown-wards .list-wards .ward-name {
    cursor: pointer;
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    color: rgb(75, 75, 75);
    padding: 8px 10px;
}

.menu-dropdown-cities .list-cities .message-no-found-city,
.menu-dropdown-districts .list-districts .message-no-found-district,
.menu-dropdown-wards .list-wards .message-no-found-ward {
    font: 500 .9rem/1.3rem "Roboto", sans-serif;
    padding: 12px 10px;
}

/* CSS: Active */
.form-input-city.active .flex-selects-city,
.form-input-district.active .flex-selects-district,
.form-input-ward.active .flex-selects-ward {
    background-color: #fff;
}

.form-input-city .flex-selects-city .icon-dropdown-selects.active,
.form-input-district .flex-selects-district .icon-dropdown-selects.active,
.form-input-ward .flex-selects-ward .icon-dropdown-selects.active {
    transform: rotate(0);
}

/* CSS: Effect */
.form-input>input:focus,
.form-input-city .flex-selects-city>input:focus,
.form-input-district .flex-selects-district>input:focus,
.form-input-ward .flex-selects-ward>input:focus,
.form-input-note>textarea:focus {
    outline: none;
    border-color: rgba(35, 53, 68, .9);
}

.menu-dropdown-cities .list-cities .city-name:hover,
.menu-dropdown-districts .list-districts .district-name:hover,
.menu-dropdown-wards .list-wards .ward-name:hover {
    background-color: rgba(188, 188, 188, .2);
}

.menu-dropdown-cities .form-search>input:focus,
.menu-dropdown-districts .form-search>input:focus,
.menu-dropdown-wards .form-search>input:focus {
    outline: none;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {

    .form-checkout,
    .form-checkout-container {
        width: 100%;
    }

    .form-section>h3 {
        font-size: 1.5rem;
    }

    .form-input>input {
        padding: 0 10px;
    }
}

@media screen and (min-width:576px) and (max-width:765px) {

    .form-checkout,
    .form-checkout-container {
        width: 100%;
    }

    .form-section>h3 {
        font-size: 1.5rem;
    }

    .form-input>input {
        padding: 0 10px;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {

    .form-checkout,
    .form-checkout-container {
        width: 100%;
    }

    .form-section>h3 {
        font-size: 1.5rem;
    }

    .form-input>input {
        padding: 0 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    .form-checkout,
    .form-checkout-container {
        width: 500px;
    }

    .form-section>h3 {
        font-size: 1.5rem;
    }

    .form-input>input {
        padding: 0 10px;
    }
}