.item-detail {
    margin: 5% 0;
}

.item-detail-container {
    width: 100%;
}

.item-detail-row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-detail-col:nth-child(1) {
    width: 40%;
}

.item-detail-col:nth-child(2) {
    width: 55%;
}

/* CSS: Col Images */
.item-detail-image {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px 0;
}

.image-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-list .image-item {
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: contain;
    box-shadow: 0 0 10px 2px rgba(231, 231, 231, .7);
    padding: 10px;
    border-radius: 5px;
    transition: .5s all ease;
}

.image-item-active {
    cursor: pointer;
    width: 100%;
    height: 400px;
    object-fit: contain;
    box-shadow: 0 0 10px 2px rgba(231, 231, 231, .7);
}

/* CSS: Info Detail */
.info-detail-info {
    font-family: "Roboto", sans-serif;
}

/* CSS: Info Detail Header*/
.info-header {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.info-header-reviews {
    color: rgba(162, 162, 162, .9);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: .9rem;
}

.info-header-tags {
    font-family: "EB Garamond", serif;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 15px;
    font-size: .8rem;
}

.info-header-tag-best-seller,
.info-header-tag-discount {
    color: #fff;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
}

.info-header-tag-best-seller {
    background-color: rgb(249, 104, 35);
}

.info-header-tag-discount {
    background-color: rgb(220, 53, 56);
}

/* CSS: Info Detail Section*/
.info-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.info-section .info-section-title {
    font: 600 2rem/2.2rem "Playfair Display", serif;
    color: #00152B;
    letter-spacing: .7px;
}

.info-section .info-section-price {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.info-section .price-current {
    font-size: 1.3rem;
    color: #F96823;
    font-weight: 600;
}

.info-section .price-current>span {
    margin-left: 5px;
}

/* CSS: Info Detail Desc*/
.info-desc {
    border-bottom: 2px solid rgba(196, 194, 194, .4);
    border-top: 2px solid rgba(196, 194, 194, .4);
    padding: 15px 0;
}

.info-desc>p {
    color: rgb(71, 71, 71);
    font-size: .9rem;
    line-height: 1.5rem;
}

/* CSS: Info Detail Quantity*/
.info-quantity {
    font-family: "Roboto", sans-serif;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.info-flex-quantity {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: 1px solid #dad9d9;
    padding: 0 5px 0 10px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 180px;
}

.info-flex-quantity>p {
    color: gray;
    font-style: italic;
    font-size: .9rem;
}

.flex-number {
    display: flex;
    align-items: center;
}

.flex-number .input-quantity {
    font-family: "Roboto", sans-serif;
    width: 25px;
    font-size: .9rem;
    border: none;
    text-align: center;
}

.flex-number .btn-decrease-quantity,
.flex-number .btn-increase-quantity {
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(38, 70, 83);
}

.info-quantity-btn-buy,
.info-quantity-btn-add {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    height: 35px;
    width: 120px;
    font-size: .9rem;
    transition: .5s all ease;
}

.info-quantity-btn-buy {
    color: #00152B;
    background-color: #fff;
    border: 2px solid rgb(38, 70, 83);
}

.info-quantity-btn-add {
    background-color: rgb(58, 95, 110);
    color: #fff;
    border: 2px solid transparent;
}

/* CSS: Info Detail Specs*/
.info-specs {
    font-family: "Roboto", sans-serif;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.info-specs .info-specs-item {
    color: #061c36;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5rem;
}

.info-specs .info-specs-item>span {
    color: #061c36;
    font-weight: normal;
    margin-left: 8px;
}

.info-specs-mfg span:nth-child(2) {
    font-weight: bold;
    font-size: 1rem;
}

/* CSS: Effect */
.image-list .image-item:hover {
    border-color: rgba(40, 53, 67, .4);
    border-radius: 0;
}

.info-quantity-btn-buy:hover {
    background-color: rgb(58, 95, 110);
    color: #fff;
}

.info-quantity-btn-buy:hover~.info-quantity-btn-add {
    background-color: #fff;
    color: #00152B;
    border: 2px solid rgb(58, 95, 110);
    border-left: 0;
}

.flex-number .input-quantity:focus {
    outline: 0;
}

.flex-number .input-quantity[type="number"]::-webkit-inner-spin-button,
.flex-number .input-quantity[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* CSS: Responsives */
@media screen and (max-width:575px) {
    .item-detail {
        margin: 10% 0;
    }

    .main-section-product {
        width: 90%;
    }

    .item-detail-row {
        gap: 40px 0;
    }

    .item-detail-col:nth-child(1),
    .item-detail-col:nth-child(2) {
        width: 100%;
    }

    .image-list,
    .image-item-active {
        display: none;
    }

    .info-header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .info-header-reviews {
        width: auto;
    }

    .info-header .info-header-tags {
        width: 100%;
        justify-content: flex-start;
        flex: none;
        margin-bottom: 10px;
    }

    .item-detail-info {
        display: flex;
        flex-direction: column;
    }

    .info-header-reviews {
        font-size: .8rem;
    }

    .item-detail-info .info-section {
        margin: 10px 0 20px;
        gap: 10px 0;
    }

    .info-section .info-section-title {
        font: 600 1.6rem/1.8rem "Playfair Display", serif;
        color: #00152B;
    }

    .info-section .price-current {
        font-size: 1.1rem;
    }

    .info-quantity {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .info-flex-quantity {
        width: auto;
        padding: 0 3px;
        margin-right: 10px;
    }

    .info-flex-quantity>p {
        display: none;
    }

    .flex-number>span {
        margin: 0;
    }

    .info-quantity-btn-buy,
    .info-quantity-btn-add {
        padding: 0;
        flex: 1;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .main-section-product {
        width: 90%;
    }

    .item-detail-row {
        gap: 40px 0;
    }

    .item-detail-col:nth-child(1),
    .item-detail-col:nth-child(2) {
        width: 100%;
    }

    .image-list,
    .image-item-active {
        display: none;
    }

    .item-detail-info {
        display: flex;
        flex-direction: column;
    }

    .info-header-reviews {
        font-size: .8rem;
    }

    .item-detail-info .info-section {
        margin: 10px 0 20px;
        gap: 10px 0;
    }

    .info-section .info-section-title {
        font: 600 1.6rem/1.8rem "Playfair Display", serif;
        color: #00152B;
    }

    .info-section .price-current {
        font-size: 1.1rem;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .main-section-product {
        width: 90%;
    }

    .item-detail-row {
        gap: 0 20px;
    }

    .item-detail-col:nth-child(1),
    .item-detail-col:nth-child(2) {
        width: 48%;
    }

    .image-list {
        flex-wrap: wrap;
    }

    .image-item-active {
        height: 350px;
    }

    .image-list .image-item {
        width: 80px;
        height: 80px;
    }

    .info-header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .info-header-reviews {
        width: auto;
    }

    .info-header .info-header-tags {
        width: 100%;
        justify-content: flex-start;
        flex: none;
        margin-bottom: 10px;
    }

    .item-detail-info .info-section {
        margin: 10px 0 20px;
        gap: 10px 0;
    }

    .info-section .info-section-title {
        font: 600 1.8rem/2rem "Playfair Display", serif;
        color: #00152B;
    }

    .info-section .price-current {
        font-size: 1.1rem;
    }

    .info-quantity {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .info-flex-quantity {
        width: auto;
        padding: 0 3px;
        margin-right: 10px;
    }

    .info-flex-quantity>p {
        display: none;
    }

    .flex-number>span {
        margin: 0;
    }

    .info-quantity-btn-buy,
    .info-quantity-btn-add {
        padding: 0;
        width: 130px;
    }

    .info-specs {
        gap: 5px 0;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .main-section-product {
        width: 90%;
    }

    .item-detail-row {
        gap: 0 10px;
    }

    .image-list .image-item {
        width: 80px;
        height: 80px;
    }

    .item-detail-info .info-section {
        margin: 10px 0 20px;
    }

}