.main-register {
    margin: 5% 0;
}

.main-register-container {
    width: 500px;
    margin: 0 auto;
}

/* CSS: Header */
.main-register-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
    margin-bottom: 40px;
}

.main-register-header .main-register-header-link {
    text-decoration: none;
    font-size: 1.2rem;
    width: 170px;
    font-weight: 600;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    border: none;
}

.main-register-header .main-register-header-link-register {
    color: #fff;
    background-color: rgb(38, 70, 83);
}

.main-register-header .main-register-header-link-login {
    color: #00152C;
    box-shadow: 0 0 10px 2px rgba(225, 223, 223, 0.4);
}

/* CSS: Form */
.main-register-form {
    box-shadow: 0 0 10px 2px rgba(225, 223, 223, 0.4);
    padding: 50px 30px;
    border-radius: 5px;
}

.main-register-form>h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #03162E;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: .6px;
}

.form-input-footer {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px 0;
}

.form-input-footer .form-input-check-remember {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.form-input-footer .form-input-check-remember .form-input-checkbox {
    accent-color: #fff;
    border: none;
    position: relative;
    cursor: pointer;
    appearance: none;
}

/* .form-input-footer .form-input-check-remember*/
.form-input-checkbox::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0px;
    width: 14px;
    height: 14px;
    border: 2px solid #00152C;
    background-color: #fff;
    border-radius: 3px;
    transition: .8s all ease;
}

.form-input-checkbox:checked::before {
    background-color: #00152C;
}

.form-input-footer .form-input-check-remember>label {
    cursor: pointer;
    font-size: .9rem;
    margin-left: 15px;
    font-weight: 600;
    color: #00152C;
}

.form-input-footer .form-input-check-remember>label>span {
    position: relative;
}

.form-input-footer .form-input-check-remember>label>span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #00152C;
    bottom: 0;
    left: 0;
}

.form-input-footer .form-btn-create {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    width: 100%;
    background-color: rgb(38, 70, 83);
    color: #fff;
    border: 0;
    padding: 15px 0;
    font-size: .9rem;
    letter-spacing: .6px;
    border-radius: 5px;
}

.form-register-social {
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.4);
    padding: 20px 10px;
}

.form-register-social>p {
    margin-bottom: 20px;
    color: rgb(63, 63, 63);
    font-weight: 600;
    font-size: .9rem;
}

.form-register-social .form-register-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    justify-content: center;
}

.form-register-social .form-register-btn>span {
    cursor: pointer;
    text-decoration: none;
    font-size: .7rem;
    color: #fff;
    width: 170px;
    padding: 12px;
    border-radius: 4px;
}

.form-register-social .form-register-btn>span:nth-child(1) {
    background-color: #4385F5;
}

.form-register-social .form-register-btn>span:nth-child(2) {
    background-color: #4268B3;
}

.form-register-social .form-register-btn>span>.icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .main-register {
        margin: 20% 0;
    }

    .main-register-container {
        width: 90%;
    }

    .main-register-header .main-register-header-link {
        font-size: 1.1rem;
    }

    .main-register-form {
        padding: 40px 20px;
    }

    .main-register-form>h2 {
        font-size: 1.3rem;
    }

    .form-input-footer .form-input-check-remember {
        width: 100%;
    }

    .form-input-footer .form-input-check-remember>label {
        font-size: .8rem;
    }

    .form-input-footer .form-btn-create {
        font-size: .8rem;
    }

    .form-register-social .form-register-btn {
        gap: 10px 0;
    }

    .form-register-social .form-register-btn>span {
        width: 80%;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .main-register {
        margin: 15% 0;
    }

    .main-register-header .main-register-header-link {
        font-size: 1.1rem;
    }

    .main-register-form>h2 {
        font-size: 1.3rem;
    }

    .form-input-footer .form-input-check-remember {
        width: 100%;
    }

    .form-input-footer .form-input-check-remember>label {
        font-size: .8rem;
    }

    .form-input-footer .form-btn-create {
        font-size: .8rem;
    }

    .form-register-social {
        padding: 20px;
    }

    .form-register-social .form-register-btn {
        gap: 10px 0;
    }

    .form-register-social .form-register-btn>span {
        width: 70%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .main-register {
        margin: 10% 0;
    }

    .form-register-social .form-register-btn>span {
        width: 45%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .main-register {
        margin: 10% 0;
    }

    .form-register-social .form-register-btn>span {
        width: 45%;
    }
}